
<article>
    <p><?php echo $this->unContact->getNom(); ?></p>
    <p><?php echo $this->unContact->getPrenom(); ?></p>
    <p><?php echo $this->unContact->getTelephone(); ?></p>
    <p><?php echo $this->unContact->getEmail(); ?></p>
</article>