<?php echo $this->doctype(); ?>

<html lang="FR">
    <head>
        <meta charset="utf-8">
        <?php // echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php // echo $this->headMeta()
//            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
//            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
//        ?>

        <!-- Le styles -->
        <?php echo $this->headLink()
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>
       

        <!-- Scripts -->
        <?php // echo $this->headScript()
//            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
//            ->prependFile($this->basePath() . '/js/jquery.min.js')
//            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
//            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
//        ; ?>

    </head>
    <body>

            <?php 
            echo $this ->navigation()
                    ->menu()
                    ->renderMenu('DefaultNavigationFactory',array('ulClass' => 'nav nav-pills'));
            ?>
        <?php echo $this->content; ?>
        

    </body>
</html>
